html, body {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 120px;
    padding: 0;
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

header, footer, section, article, div {
    box-sizing: border-box;
}

/* the top seciton */
header{
    margin: 2px auto;
    width: 1000px;
    height: 120px;
}

#header_logo{
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    float: left;
}

h1, h4{
    margin: 0px;
}

.header_title{
    box-sizing: border-box;
    position: relative;
    float: right;
    margin: 1.5em 1em;
}
/* the top setion end */
/* a line */
hr {
    display: block;
    width: 1000px;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 8px auto;
    padding: 0;
}



/* the main section */

main {
    max-width: 1000px;
    min-height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

.cards {
    display: inline-block;
    width: 325px;
    height: 300px;
    position: relative;
    background-size: cover;
    margin-right: auto;
    margin-left: 3px;
   
}

.bg-image-1 {
    background-image:url("../img/edtech_2.jpg");
}

.bg-image-2 {
    background-image:url("../img/community.jpg");
}

.bg-image-3 {
    background-image:url("../img/lifelong.jpg");
}


.cards article {
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    color: #fff;
    padding: 1em;
}

.cards h2{
    margin: 0;
}

/* the main section end */

/* the news section */
.news{
    padding: 1em;
    width: 100%;
    max-height: 300px;
}

.news__title {
    font-weight: 500;
    border-bottom: 1px solid #E0E0E0;
    line-height: 12px;
    font-size: 16px;
    padding: 0 0 1em;
    margin-left: 1em;
}

.top-news__item {
    border-bottom: 1px solid #E0E0E0;
    padding: 0.5em 0;
    line-height: 18px;
}

.top-news__item a:hover,
.top-news__item a:active {
    text-decoration: underline;
}

/* the news section end */

/* the message section */
.message {
    display: flex;
    width: 100%;
    height: 400px;
    background-image:url("../images/edtech-")
}

.profile{
    width: 50%;
    height: 98%;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.26);
    margin: 0 0 0.3em 0.5em;
    flex: 1;
}

.msg {
    width: 50%;
    height: 400px;
    flex: 2;
}

.message textarea{
    display: block;
    float: right;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.26);
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    width: 90%;
    height: 350px;
    font-size: 16px;
}
.button {
    display: block;
    float: right;
    width: 10em;
    height: 2em;
    position: relative;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 0em 2em;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: gray;
    box-shadow: 5px 2px 8px rgb(177, 177, 177);
}
/* the message section end */

/* footer */
footer{
    width: 1000px;
    height: 55px;
    margin: 1em auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

}

.contact{
    width: 250px;
    height: 50px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

footer li {
    display: inline-block;
    margin-right: 0.2em;
}

footer a {
    text-decoration: none;
    color: #333;
}
/* footer end */

